html, body{
    margin: 0;
    padding: 0;

    max-width: 100vw;

    width: 100%;
    height: 100%;

    font-family: Nunito,sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #716c80;
}




/* Side buttons CSS */
.side_buttons_wrapper{
    z-index: 2;
    position: fixed;
    width: 42px;
    height: 90px;    
    right: 0;
    top: 18%;

    animation: load_side_button 14s linear forwards;
    animation-delay: 1s;

    display: flex;
    flex-direction: column;
    gap: 7px;
}

@keyframes load_side_button {
    0%{
        width: 42px;
    }

    10%{
        width: 120px;
    }

    90%{
        width: 120px;
    }

    100%{
        width: 42px;
    }
}

.side_button:nth-child(1){
    height: 44px;
    background-color: #EF2853;
}

.side_button:nth-child(2){
    height: 44px;
    background-color: blue;
}

.side_icon{ 
    width: 42px;
}




/* Loading page CSS*/
.loading_page{
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 97%;
    height: 100%;
    background-color: white;

    animation: loading_page_exit 10s forwards;
}

@keyframes loading_page_exit{
    0%{
        width: 100%;
        height: 100%;
    }

    99%{
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    
    100%{
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
    }
}

.circle{
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);

    width: 100px;
    height: 100px;
    transform: scale(0.1);
    border-radius: 50px;
    background-color: #58468C;

    text-align: center;
    overflow: hidden;
    animation: circle_entry 10s forwards;
}

@keyframes circle_entry {
    1%, 97%{
        transform: scale(1);
    }

    100%{
        transform: scale(0);
    }
}

.circle_content{
    width: 100px;
    height: 100px;
}

.letter_wrapper{
    position: relative;
    top: 12px;
    left: 45%;

    width: fit-content;
    transform: translate(-12px);
    opacity: 0;
    animation: letter_entry 2s forwards;
    animation-delay: 0.5s;
}

.letter{
    color: #fff;
    font-size: 75px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1;
    margin-left: -12px;
}

@keyframes letter_entry{
    0%{
        opacity: 0;
        transform: translate(-12px);
    }

    100%{
        opacity: 1;
        transform: translate(0px);
    }
}

.dot_wrapper{
    position: relative;
    bottom: 10px;
    right: -60px;

    width: 12px;
    height: 12px;
    transform: scale(1);
    border-radius: 0;

    background-color: transparent;

    opacity: 0;
    animation: dot_animation 10s forwards;
    transition-delay: 2s;
}

@keyframes dot_animation {
    0%{
        opacity: 0;
        transform: scale(1);
        background-color: transparent;
        border-radius: 0;
    }

    10%{
        opacity: 0;
    }

    11%{
        opacity: 1;
    }

    89%{
        background-color: transparent;
        border-radius: 0;
    }

    90%{   
        background-color: rgb(40,116,252);
        border-radius: 5px;
        transform: scale(1);
    }

    100%{
        opacity: 1;
        background-color: rgb(40,116,252);
        border-radius: 5px;
        transform: scale(100);
    }
}

.dot{
    width: 12px;
    height: 12px;

    background-color: rgb(40,116,252);
    border-radius: 5px;

    opacity: 1;
    animation: dotFade 1.5s linear infinite;
    animation-delay: 0.5s;
}

@keyframes dotFade {
    0%, 100% {
        opacity: 1;
    }

    50%{
        opacity: 0;
    }
}






/* Main page CSS */
.main_page{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: white;
}

/* Image behind the header */

.header_img{
    position: relative;
    height: fit-content;
}

.left-img > div{
    position: absolute;
    top: 0;
    left: 0;
}

.left-img > div img{
    width: 100%;
    height: 100%;
}

.img1_wrapper{
    max-width: 80vw;
}

.img2_wrapper{
    max-width: 15vw;
}

.middle-img{
    width: fit-content;
    position: absolute;
    left: 25%;
}

.middle-img > div img{
    height: 40vh;
    width: 50vw;
}

.right-img > div{
    position: absolute;
    top: 0;
    right: 0;
}

.right-img > div img{
    width: 100%;
    height: 100%;
}

.right-img .img-wrapper{
    max-width: 50vw;
}

/* The main header */

.header{
    width: 96%;
    z-index: 1;

    margin: 0 40px;    

    min-height: 120px;

    position: absolute;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo img{
    width: 104px;
    height: 26px;
}

.header .logo:hover{
    cursor: pointer;
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;
}

.navbar ul li{
    list-style-type: none;
    
    color: #58468c;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: .085em;
    line-height: 23px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar ul li:hover{
    cursor: pointer;
}

.navbar ul li:nth-child(1){
    width: 91.2667px;
}

.navbar ul li:nth-child(2){
    width: 91px;
}
.navbar ul li:nth-child(3){
    width: 131.817px;
}

.navbar ul li:nth-child(4){
    width: 87.5667px;
}

.navbar ul li:nth-child(5){
    width: 88.3666px;
}

.navbar ul li:nth-child(6){
    width: 122.483px;
}


.selection_menu{
    width: 148.033px;
    height: 120px;
    background-color: red;
}




/* Section 1 CSS */
#section1{
    width: 100%;
    height: 100%;
    min-height: 650px;
    max-height: 990px;

    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    gap: 100px;
}


.section_contents{
    position: absolute;
    top: calc(50% - 50px);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#section1 .section_contents h1{    
    width: fit-content;
    margin: 0;
    padding: 0;

    color: rgb(88, 70, 140);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 55px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
}

#section1 .section_contents p{   
    width: 484px;
    margin: 30px 0;

    color: #928994;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    line-height: 33px;
    font-weight: 300;
    text-align: center;
}

#section1 .section_buttons{
    display: flex;
    justify-content: center;
    gap: 12px;
}

#section1 button{
    width: 168px;
    height: 51px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: #ffffff;
    border: none;
}

#section1 .button1{
    background-color: #FF8A73;
    border-radius: 40px;
}

#section1 .button2{
    background-color: #5580FF;
    border-radius: 40px;
}

#section1 img{
    max-width: 100px;
    position: absolute;
}

#section1 .left_img{
    left: calc(50% - 800px);
    top: 250px;
    max-width: 70%;
    max-height: 70%;
}

#section1 .wifi{
    max-width: 150px;
    top: 190px;
    left: calc(50% - 330px);
}

#section1 .comment{
    max-width: 109px;
    top: 110px;
    right: calc(50% - 110px);
}

#section1 .coins{
    max-width: 137px;
    top: 220px;
    right: calc(50% - 450px);
}

#section1 .person{
    max-width: 90px;
    right: calc(50% - 580px);
    bottom: calc(50% - 110px);
}

#section1 .shield{
    min-height: 139px;
    max-width: 120px;
    right: calc(50% - 440px);
    bottom: calc(50% - 390px);
}

#section1 .wallet{
    max-width: 123px;
    right: calc(50% - 80px);
    bottom: calc(50% - 500px);
}

#section1 .computer{
    max-width: 150px;
    bottom: calc(50% - 420px);
    left: calc(50% - 380px);
}

/* 
.section_img .top_section{
    position: absolute;
    top: 0;
    left: calc(50% - 250px);  
}

.section_img .top_section img:nth-child(2){
    margin-left: 100px
}
.section_img .top_section img:nth-child(3){
    margin-left: 100px;
}

.section_img .bottom_section{
    position: absolute;
    bottom: 0;
    left: calc(50% - 250px);
}

.section_img .bottom_section img:nth-child(2){
    margin-left: 100px
}
.section_img .bottom_section img:nth-child(3){
    margin-left: 100px;
} */
