html,
body {
  margin: 0;
  padding: 0;

  max-width: 100vw;

  width: 100%;

  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  color: #716c80;
  /* overflow: hidden; */

  scroll-behavior: smooth;
}

/* Side buttons CSS */
.side_buttons_wrapper {
  z-index: 2;
  position: fixed;

  right: 0;
  top: 25vh;

  width: 42px;
  /* width: 120px; */
  height: 90px;

  display: flex;
  flex-direction: column;
  gap: 7px;

  transition: 1s;
  animation: load_side_button 10s;
}

.side_button:hover {
  cursor: pointer;
}

.side_button {
  display: flex;
  align-items: center;
  gap: 10px;
}

.side_content {
  min-width: 100px;
}

.side_button:nth-child(1) .side_icon svg {
  fill: white;
  height: 26px;
  margin-top: 10px;
  margin-left: 10px;
}

.side_button:nth-child(1) .side_content {
  font-size: 10px;
  color: white;
  letter-spacing: 0.11em;
  font-family: "Heebo", sans-serif;
  margin-top: 2px;
}

.side_button:nth-child(2) .side_icon svg {
  fill: red;
  height: 16px;
  margin-top: 10px;
  margin-left: 13px;
  margin-right: 7px;
}

.side_button:nth-child(2) .side_content {
  font-size: 10px;
  color: black;
  letter-spacing: 0.11em;
  font-family: "Heebo", sans-serif;
  margin-top: 4px;
}

.side_buttons_wrapper:hover {
  width: 120px;
}

@keyframes load_side_button {
  0% {
    width: 42px;
  }

  1% {
    width: 120px;
  }

  99% {
    width: 120px;
  }

  100% {
    width: 42px;
  }
}

.side_button:nth-child(1) {
  height: 44px;
  background-color: #ef2853;
}

.side_button:nth-child(2) {
  height: 44px;
  background-color: #fff;
}

.side_icon {
  width: 42px;
}

/* Loading page CSS*/
.loading_page {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 97%;
  height: 100%;
  background-color: white;

  animation: loading_page_exit 5s forwards;
}

@keyframes loading_page_exit {
  0% {
    width: 100%;
    height: 100%;
  }

  99% {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  100% {
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
  }
}

.circle {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);

  width: 100px;
  height: 100px;
  transform: scale(0.1);
  border-radius: 50px;
  background-color: #58468c;

  text-align: center;
  overflow: hidden;
  animation: circle_entry 5s forwards;
}

@keyframes circle_entry {
  1%,
  97% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.circle_content {
  width: 100px;
  height: 100px;
}

.letter_wrapper {
  position: relative;
  top: 12px;
  left: 45%;

  width: fit-content;
  transform: translate(-12px);
  opacity: 0;
  animation: letter_entry 1.5s forwards;
  animation-delay: 0.5s;
}

.letter {
  color: #fff;
  font-size: 75px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  line-height: 1;
  margin-left: -12px;
}

@keyframes letter_entry {
  0% {
    opacity: 0;
    transform: translate(-12px);
  }

  100% {
    opacity: 1;
    transform: translate(0px);
  }
}

.dot_wrapper {
  position: relative;
  bottom: 10px;
  right: -60px;

  width: 12px;
  height: 12px;
  transform: scale(1);
  border-radius: 0;

  background-color: transparent;

  opacity: 0;
  animation: dot_animation 5s forwards;
  transition-delay: 2s;
}

@keyframes dot_animation {
  0% {
    opacity: 0;
    transform: scale(1);
    background-color: transparent;
    border-radius: 0;
  }

  10% {
    opacity: 0;
  }

  11% {
    opacity: 1;
  }

  79% {
    background-color: transparent;
    border-radius: 0;
  }

  80% {
    background-color: rgb(40, 116, 252);
    border-radius: 5px;
    transform: scale(1);
  }

  100% {
    opacity: 1;
    background-color: rgb(40, 116, 252);
    border-radius: 5px;
    transform: scale(100);
  }
}

.dot {
  width: 12px;
  height: 12px;

  background-color: rgb(40, 116, 252);
  border-radius: 5px;

  opacity: 1;
  animation: dotFade 1.5s linear infinite;
  animation-delay: 0.5s;
}

@keyframes dotFade {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

/* Main page CSS */
.main_page {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}

/* Image behind the header */
.header_img {
  position: relative;
  height: fit-content;
}

.left-img > div {
  position: absolute;
  top: 0;
  left: 0;
}

.left-img > div img {
  width: 100%;
  height: 100%;
}

.img1_wrapper {
  max-width: 80vw;
}

.img2_wrapper {
  max-width: 15vw;
}

.middle-img {
  width: fit-content;
  position: absolute;
  left: 25%;
}

.middle-img > div img {
  height: 40vh;
  width: 50vw;
}

.right-img > div {
  position: absolute;
  top: 0;
  right: 0;
}

.right-img > div img {
  width: 100%;
  height: 100%;
}

.right-img .img-wrapper {
  max-width: 50vw;
}

/* The main header */
.header {
  width: 100%;
  z-index: 1;

  height: 120px;

  position: absolute;
  top: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo img {
  width: 104px;
  height: 26px;
}

.header .logo {
  padding-left: 40px;
}

.header .logo:hover {
  cursor: pointer;
}

/* Header navbar */
.navbar {
  height: 100%;
}

.navbar .navbar__selections {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
}

.navbar .navbar__selections > li {
  list-style-type: none;

  color: #58468c;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  letter-spacing: 0.085em;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: 500;

  position: relative;
}

.navbar .navbar__selections > li::before {
  content: "";
  display: inline-block;
  margin-bottom: 2px;
  margin-right: 8px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #5580ff;
  opacity: 0;
  transition: 0.3s;
}

.navbar .navbar__selections > li div {
  display: none;
  background-color: white;
  position: absolute;

  margin-top: 35px;
  margin-left: -20px;

  border-radius: 15px;
  padding: 24px 0;
}

.navbar .navbar__selections > li div ul {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.navbar .navbar__selections > li div ul li {
  width: 100%;
  font-family: "Nunito", sans-serif;
  font-weight: 300;

  font-size: 15px;
  line-height: 24px;
  color: #716c80;
  text-transform: capitalize;
}

.navbar .navbar__selections > li div li {
  list-style-type: none;
}

.navbar .navbar__selections > li {
  width: 91.2667px;
}
.navbar .navbar__selections .home div {
  width: 261px;
  height: 648px;

  border-radius: 15px;
}

.navbar .navbar__selections .pages {
  width: 91px;
}
.navbar .navbar__selections .pages div {
  width: 261px;
  height: 488px;

  background-color: white;
  position: absolute;
}

.navbar .navbar__selections .portfolio {
  width: 131.817px;
}
.navbar .navbar__selections .portfolio div {
  width: 261px;
  height: 240px;
}
.navbar .navbar__selections .portfolio div ul {
  display: flex;
  flex-direction: column;
}

.navbar .navbar__selections .blog {
  width: 87.5667px;
}
.navbar .navbar__selections .blog div {
  width: 261px;
  height: 200px;
}
.navbar .navbar__selections .blog div ul {
  display: flex;
  flex-direction: column;
}

.navbar .navbar__selections .shop {
  width: 88.3666px;
}
.navbar .navbar__selections .shop div {
  width: 261px;
  height: 160px;
}
.navbar .navbar .navbar__selections .shop div ul {
  display: flex;
  flex-direction: column;
}

.navbar .navbar__selections .elements {
  width: 122.483px;
}

/* Transitions */
.navbar .navbar__selections > li:hover {
  cursor: pointer;
  color: #fe8974;
}

.navbar .navbar__selections > li:hover::before {
  opacity: 1;
}

.navbar .navbar__selections > li:hover div {
  display: block;
  transition-delay: 2s;
}

/* .navbar .navbar__selections > li div:hover {
  display: block;
} */

/* Elements */
/* .navbar .elements{
    width: calc(100vw - 3px);
    max-width: 1920px;
    position: absolute;
    left: calc(50% - (1920px) / 2);

    background-color: white;
}
.navbar .elements ul {
  display: flex;
  flex-direction: column;
} */

/* Header selection menu */
.selection_menu {
  width: 148.033px;
  height: 120px;
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
  align-items: center;

  padding-right: 40px;
}

.selection_menu svg:hover {
  cursor: pointer;
}

.selection_menu .cls {
  margin-right: 7px;
  position: relative;
}

.cls .count {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff8a73;

  position: absolute;
  top: -3px;
  right: -8px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cls-1 {
  fill: #58468c;
}

.cls:hover .cls-1 {
  fill: #ff8a73;
}

.cls .count span {
  color: white;
  font-size: 12px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  line-height: 16px;
}

.search-1 {
  fill: #58468c;
}

.search:hover .search-1 {
  fill: #ff8a73;
}

.open .open-box {
  fill: #58468c;
}

.open .open-lines {
  fill: white;
}

.open:hover .open-box {
  fill: #ff8a73;
}

/* Section 1 CSS */
#section1 {
  width: 80%;

  min-height: 650px;
  max-height: 990px;

  position: relative;
  top: 0;
  left: 10%;

  display: flex;
  justify-content: center;
  gap: 100px;
}

.section_contents {
  position: absolute;
  top: calc(10% + 8vh + 120px);

  display: flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
  animation: load_session1 0.3s ease-in forwards;
  animation-delay: 5.2s;
}

#section1 .section_contents h1 {
  width: fit-content;
  margin: 0;
  padding: 0;

  color: rgb(88, 70, 140);
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 55px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
}

#section1 .section_contents p {
  width: max-content;

  min-width: 480px;
  max-width: 485px;
  margin: 30px 0;

  color: rgb(113, 108, 128);
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  line-height: 33px;
  font-weight: 300;
  text-align: center;
}

#section1 .section_buttons {
  display: flex;
  justify-content: center;
  gap: 12px;
}

#section1 button {
  width: 168px;
  height: 51px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 1px;
  color: #ffffff;
  border: none;
}

#section1 .button1 {
  background-color: #ff8a73;
  border-radius: 40px;
}

#section1 .button2 {
  background-color: #5580ff;
  border-radius: 40px;
}

#section1 img {
  opacity: 0;
  position: absolute;
}

#section1 .left_img {
  right: calc(1% + 40vw + 250px);
  top: calc(6vh + 100px);

  max-width: 475px;

  width: 28%;
  animation: load_session1 0.3s forwards;
  animation-delay: 5.5s;
}

#section1 .wifi {
  width: 8%;

  min-width: 96px;
  max-width: 144px;

  top: calc(3vh + 105px);
  right: calc(3% + 39vw + 115px);

  animation: load_session1 0.3s ease-in forwards;
  animation-delay: 5.5s;
}

#section1 .comment {
  width: 6%;

  min-width: 79px;
  max-width: 109px;

  top: calc(2vh + 60px);
  right: calc(1% + 39vw - 50px);

  animation: load_session1 0.3s ease-in forwards;
  animation-delay: 5.7s;
}

#section1 .coins {
  width: 8%;

  min-width: 97px;
  max-width: 137px;

  top: calc(7vh + 70px);
  left: calc(10% + 34vw + 180px);
  animation: load_session1 0.3s ease-in forwards;
  animation-delay: 5.9s;
}

#section1 .person {
  width: 5%;

  min-width: 70px;
  max-width: 81px;

  right: calc(38vw - 430px);
  top: calc(5vh + 240px);

  animation: load_session1 0.3s ease-in forwards;
  animation-delay: 6.2s;
}

#section1 .shield {
  width: 6%;

  min-width: 81px;
  max-width: 101px;

  right: calc(39vw - 320px);
  bottom: calc(2 * -7vh + 200px);

  animation: load_session1 0.3s ease-in forwards;
  animation-delay: 6.3s;
}

#section1 .wallet {
  width: 6%;

  min-width: 90px;
  max-width: 123px;

  right: calc(50% - 80px);
  bottom: calc(2 * -10vh + 150px);

  animation: load_session1 0.3s ease-in forwards;
  animation-delay: 6.5s;
}

#section1 .computer {
  width: 9%;

  min-width: 124px;
  max-width: 145px;

  bottom: calc(-15vh + 150px);
  left: calc(38vw - 280px);

  animation: load_session1 0.3s ease-in forwards;
  animation-delay: 6.7s;
}

/* Appearing animations */
@keyframes load_session1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Desktop responsive */
@media only screen and (min-width: 1700px) {
  #section1 .section_contents {
    top: calc(9vh + 280px);
  }

  #section1 .section_contents p {
    width: 180px;
  }

  #section1 .left_img {
    top: calc(7vh + 170px);
    left: calc(38vw - 700px);
  }

  #section1 .wifi {
    top: calc(5vh + 130px);
    right: calc(3% + 39vw + 115px);
  }

  #section1 .comment {
    top: calc(3vh + 70px);
    right: calc(39vw - 90px);
  }

  #section1 .coins {
    top: calc(5vh + 170px);
    left: calc(40vw + 320px);
  }

  #section1 .person {
    right: calc(40vw - 600px);
    top: calc(6vh + 390px);
  }

  #section1 .wallet {
    width: 8%;
    bottom: calc(-7vh - 250px);
  }

  #section1 .shield {
    bottom: calc(-7vh - 100px);
    right: calc(39vw - 380px);
  }

  #section1 .computer {
    bottom: calc(-7vh - 120px);
    left: calc(39vw - 350px);
  }
}

/* Section 2 CSS */
#section2 {
  width: 100%;
  height: 720px;

  overflow: hidden;

  margin-top: calc(18vh);
  position: relative;
}

#section2 .background_image {
  width: 10%;
  position: absolute;
  z-index: 0;
  right: 0;
}

#section2 .background_image img {
  height: 100vh;
  max-height: 550px;
  position: absolute;
  z-index: 0;
  right: 0;
}

#section2 .background_letters {
  width: 70%;

  z-index: 0;
  color: rgb(239, 243, 255);
  position: absolute;
  left: calc(50vw - 35%);

  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 180px;
  line-height: 180px;

  display: flex;
  justify-content: center;

  text-align: center;
}

#section2 .background_letters span {
  margin-right: -8px;
  opacity: 0;
  transform: translateX(-30%);
  transition: all 0.5s;
}

#section2 .main_contents {
  z-index: 1;

  background-color: transparent;

  width: 65%;
  max-width: 1326px;

  display: flex;
  justify-content: space-around;
  gap: 100px;

  position: relative;
}

#section2 .main_contents .content {
  width: 520px;

  position: absolute;
  top: calc(7dvh + 100px);
  left: calc(40vw - 350px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
}

#section2 .main_contents .content .content_header {
  width: 510px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: rgb(88, 70, 140);

  font-size: 45px;
  line-height: 55px;

  transition-delay: 1000ms;

  opacity: 0;
  transform: translateX(30%);
  transition: all 0.5s;
}

#section2 .main_contents .content .content_para {
  margin: 0;

  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: rgb(113, 108, 128);

  font-size: 20px;
  line-height: 32px;

  opacity: 0;
  transform: translateX(30%);
  transition: all 0.5s;
}

#section2 .main_contents .details {
  height: 72px;

  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 25px;
}

#section2 .main_contents .details div {
  display: inline-block;
}

#section2 .main_contents .details div {
  opacity: 0;
  transform: translateX(30%);
  transition: all 0.5s;
}

#section2 .main_contents .details div p:nth-child(1) {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: rgb(88, 70, 140);

  font-size: 22px;
  line-height: 25px;
}

#section2 .main_contents .details div p:nth-child(2) {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: rgb(88, 70, 140);

  font-size: 11px;
  line-height: 11px;
}

#section2 .main_contents .images {
  width: 60%;
  height: 100%;

  position: relative;
  opacity: 0;
  transform: translateX(0%);
  transition: all 1.5s;
}

#section2 .main_contents .images img {
  position: absolute;
}

#section2 .main_contents .images .robot {
  width: 330px;
  top: calc(1vh + 115px);
  left: calc(40vw + 80px);
}

#section2 .main_contents .images .modem_left {
  width: 192px;
  top: calc(1vh + 270px);
  left: calc(40vw - 50px);
}

#section2 .main_contents .images .gears {
  width: 102px;
  top: calc(1vh + 300px);
  left: calc(40vw + 350px);
}

#section2 .main_contents .images .glass {
  width: 84px;
  top: calc(1vh + 430px);
  left: calc(40vw);
}

#section2 .main_contents .images .modem_right {
  width: 188px;
  top: calc(1vh + 460px);
  left: calc(40vw + 250px);
}

.section2_show {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

@media only screen and (min-width: 1700px) {
  #section2 {
    margin-top: calc(9vh + 280px);
    height: 880px;
  }

  #section2 .background_letters {
    font-size: 250px;
    line-height: 250px;
  }

  #section2 .background_image {
    transform: scale(130%);
  }

  #section2 .main_contents {
    margin-left: calc(10vw - 200px);
  }

  #section2 .main_contents .content {
    top: calc(7dvh + 100px);
    left: calc(40vw - 430px);
  }

  #section2 .main_contents .images img {
    margin-top: 70px;
    transform: scale(130%);
  }

  #section2 .main_contents .images .modem_left {
    top: calc(1vh + 280px);
    left: calc(40vw - 100px);
  }

  #section2 .main_contents .images .gears {
    transform: scale(180%);
    top: calc(1vh + 300px);
    left: calc(40vw + 390px);
  }

  #section2 .main_contents .images .glass {
    transform: scale(160%);
    top: calc(1vh + 550px);
    left: calc(40vw - 40px);
  }

  #section2 .main_contents .images .modem_right {
    top: calc(1vh + 530px);
    left: calc(40vw + 300px);
  }
}

#section3 {
  /* margin-top: 60px; */
  min-height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
}

#section3 .background_image {
  position: absolute;
  left: 0;
  z-index: 0s;
  opacity: 0;
  transform: translate(-30%);
  transition: all 0.5s;
}

#section3 .background_image img {
  width: 705px;
}

#section3 .main_contents {
  max-width: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
  gap: 50px;
}

#section3 .main_contents .images{
  width: 40%;
  min-height: 300px;
}

#section3 .main_contents .images img {
  position: absolute;
}

#section3 .main_contents .images .middle_img {
  width: 523px;
  top: calc(1vh + 70px);
  left: calc(0.6 * 24vw + 15px);
  opacity: 0;
  transform: translate(0%);
  transition: all 0.5s;
}

#section3 .main_contents .images .big_shield {
  width: 140px;
  top: calc(1vh);
  left: calc(0.6 * 24vw + 180px);
  opacity: 0;
  transform: translateY(-10%);
  transition: all 0.3s;
}

#section3 .main_contents .images .modem_left {
  width: 170px;
  top: calc(1vh + 130px);
  left: calc(0.6 * 24vw - 115px);
  opacity: 0;
  transform: translateX(-10%);
  transition: all 0.3s;
}

#section3 .main_contents .images .modem_bottom {
  width: 170px;
  top: calc(1vh + 290px);
  left: calc(0.6 * 24vw + 130px);
  opacity: 0;
  transform: translateY(10%);
  transition: all 0.3s;
}

#section3 .main_contents .images .modem_right {
  width: 170px;
  top: calc(1vh + 150px);
  left: calc(0.6 * 24vw + 380px);
  opacity: 0;
  transform: translateX(10%);
  transition: all 0.3s;
}

#section3 .main_contents .content {
  max-width: 50%;
  position: absolute;
  left: calc(1000px - 13dvw);
  top: calc(20px);
}

#section3 .main_contents .content .content_header {
  margin-bottom: 0px;
  width: 397px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: rgb(88, 70, 140);

  font-size: 45px;
  line-height: 55px;
  opacity: 0;
  transform: translate(30%);
  transition: all 0.5s;
}

#section3 .main_contents .content .content_para {
  max-width: 510px;
  width: 80%;

  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: rgb(113, 108, 128);

  font-size: 20px;
  line-height: 32px;
  opacity: 0;
  transform: translate(30%);
  transition: all 0.5s;
}

#section3 .button {
  width: 156.84px;
  height: 49.6px;
  padding: 0px;
  background-color: #ff8a73;
  border-radius: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 1.2px;
  color: #ffffff;
  padding: 12px 37px;
  border: none;
  opacity: 0;
  transform: translateX(30%);
  transition: all 0.5s;
}

.section3_show {
  opacity: 1 !important;
  transform: translate(0%) !important;
}

/* Desktop responsive */
@media only screen and (min-width: 1700px) {
  #section3 .main_contents{
    min-width: 80%;
  }

  #section3 .background_image img{
    width: 1058px;
  }

  #section3 .main_contents .images{
    transform: scale(130%);
  }

  #section3 .main_contents .images .middle_img{
    left: calc(16dvw - 450px);
    top: calc(180px);
  }

  #section3 .main_contents .images .modem_left{
    left: calc(16dvw - 585px);
    top: calc(250px);
  }

  #section3 .main_contents .images .modem_right{
    left: calc(16dvw - 80px);
    top: calc(250px);
  }

  #section3 .main_contents .images .big_shield{
    width: 150px;
    left: calc(16dvw - 310px);
    top: calc(85px);
  }

  #section3 .main_contents .images .modem_bottom{
    width: 180px;
    left: calc(16dvw - 315px);
    top: calc(410px);
  }


  #section3 .main_contents .content{
    left: calc(52dvw + 150px);
    top: 150px
  }
}

#section4{
  margin-bottom: 150px;
}

#section4 .section_title{
  min-height: 287.9px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#section4 .section_header{
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: rgb(88, 70, 140);
  font-size: 45px;
  line-height: 55px;
  letter-spacing: 0.1px;
  
  text-align: center;
}

#section4 .section_para{
  width: 50%;

  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  color: rgb(113, 108, 128);
  font-size: 20px;
  line-height: 33px;

  text-align: center;
}

#section4 .section_boxes{
  width: 100vw; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-bottom: 30px;
}

#section4 .section_box{
  width: 10%;
  width: 302.48px;
  min-height: 128.25px;
  border: 1px solid #dde7ff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  transition: 0.3s;
}

#section4 .section_box span{
  max-width: 157px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  color: #58468C;
  font-size: 22px;
  line-height: 26px;
}

#section4 .section_box img{
  width: 24%;
  height: 24%;
}

.section_box:hover{
  transform: translateY(-20px);
}

/* Mobile responsive */

#section5{
  position: relative;
}

#section5 .background_image img{
  width: 348px;
  height: 554px;

  opacity: 0;
  transform: translate(-30%);
  transition: 1s;
}

#section5 .background_letter{
  width: 300px;
  position: absolute;
  top: -50px;
  left: calc(50% - 150px);
  display: flex;
  justify-content: center;
}

#section5 .background_letter span{
  margin-right: -10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color:rgb(239, 243, 255);
  font-size: 180px;
  line-height: 180px;

  opacity: 0;
  transform: translate(-30%);
  transition: 1s;
}

#section5 .main_contents{
  width: 80%;
  position: absolute;
  top: 0;
  left: 0;
}

#section5 .main_contents .side_image{
  width: 699px;
  margin-top: 60px;

  opacity: 0;
  transform: translate(-30%);
  transition: all 0.5s;
}

#section5 .content{
  width: 401px;

  position: absolute;
  top: calc(110px);
  left: calc(890px - 0.2 * 8dvw);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0px;
}

#section5 .content .content_header{
  margin: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: rgb(88, 70, 140);

  font-size: 45px;
  line-height: 55px;

  opacity: 0;
  transform: translate(30%);
  transition: 1s;
}

#section5 .content .content_para{
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: rgb(113, 108, 128);

  font-size: 20px;
  line-height: 33px;

  opacity: 0;
  transform: translate(30%);
  transition: 1s;
}

#section5 .content .details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 30px;

  opacity: 0;
  transform: translate(30%);
  transition: 1s;
}

#section5 .content ul{
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

#section5 .content li{
  max-width: 40%;
  max-height: fit-content;
  list-style-type: none;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: rgb(88, 70, 140);

  display: flex;
  flex-flow: column;
  align-items: center;
}

#section5 .content li .number{
  margin: 0;
  font-size: 45px;
  line-height: 55px;
}

#section5 .content li .words{
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
}

.section5_show{
  opacity: 1!important;
  transform: translate(0%)!important;
}